.left-panel {
    height: 100vh;
}

.input-container {
    display: flex;
    align-items: flex-end;
    column-gap: 5px;
    justify-content: space-around;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.input-box input {
    width: 30px;
}